name: ESLint

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: Install modules
        run: npm ci
      - name: Run ESLint
        run: npm run eslint
        continue-on-error: true
