name: Release-Full

on:
  workflow_run:
    workflows: [ "eslint" ]
    branches: [ master ]
    types:
      - completed
  release:
    types:
      - published

permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
  publish-beta:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - run: npm ci
      - run: npm run build
      #- run: npm version prerelease --no-git-tag-version --preid ${{ github.ref_name }}-${{ github.sha }}
      - run: npm publish --tag=beta
  publish-tag:
    runs-on: ubuntu-latest
    if: github.event_name == 'release'
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - run: npm ci
      - run: npm run build
      #- run: npm version prerelease --no-git-tag-version --preid ${{ github.ref_name }}-${{ github.sha }}
      - run: npm publish